.kpi-main {
  /* border: 1px solid firebrick; */
  display: grid;
  gap: 1rem;
  /* padding: 5px; */
}
.kpi-main-div-1 {
  grid-template-columns: 1fr;
}
.kpi-main-div-2 {
  grid-template-columns: 1fr 1fr;
}
.kpi-main-div-4 {
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
}
.kpi-card {
  background: #e4e0e0;
  cursor: pointer;
}
.kpi-card > * {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #454545;
  padding-left: 16px;
  text-align: initial;
  margin-bottom: 10px;
}
.kpi-card :nth-child(1){
    padding-top: 17px;
}
