.ag-header-group-cell-label, .ag-header-cell-label {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    align-self: stretch;
}
.ag-header-cell-text,.ag-cell-value{
    font-size: 11px;
}